/DoiBong/DoiBong/App/bin
/DoiBong/DoiBong/App/obj
/DoiBong/DoiBong/BLL/obj
/DoiBong/DoiBong/BLL/bin
/DoiBong/DoiBong/DAL/obj
/DoiBong/DoiBong/DAL/bin
/DoiBong/DoiBong/Entities/obj
/DoiBong/DoiBong/Entities/bin
